.sentMailRow {
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid black;
}
.sentMailRow_content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.sentMailRow_left {
    display: flex;
    align-self: center;
    width: 300px;
    padding: 0 0 0 10px;
}

.sentMailRow_left >p {
    padding: 0 0 0 10px;
}

.sentMailRow_center{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 20px;
} 
.sentMailRow_right {
    display: flex;
    width: 400px;
    justify-content: center;
}